* {
	box-sizing: border-box;
}
div {
	display: inline-block
}



.container {
	width: 500px;
	height: 300px;
	margin: 300px auto;
	background-color: black;
	line-height: 300px;
	text-align: center;
}

.three {
	background-color: peru;
	width: 400px;
    height: 250px;
    margin: 0 auto;
    line-height: 250px;
    vertical-align: middle;
    text-align: center;
}

.two {
	background-color: black;
	width: 350px;
    height: 200px;
    margin: 0 auto;
    line-height: 200px;
    vertical-align: middle;
    text-align: center;
}

.one {
	background-color: peachpuff;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    vertical-align: middle;
}

/*square-box-centered*/

/*styling for a transparent background via position fixed*/
.lightbox {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    background: rgba(18, 21, 24, 0.9);
}

/*styling for the contents of a lightbox*/
.content {
    border-radius: 6px;
    position: absolute;
    top: 50%;
    right: 10%;
    left: 10%;
    transform: translateY(-50%);
    background-color: white;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

/*styling for buttons within the light box*/
.content a {
    color: red;
}
.close {
    float: right;
    padding: 10%;
}

